@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.animation {
  animation: slideUp 500ms ease-in-out forwards;
}

.up {
  transform: translateY(-100%);
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
